<div class="row spacer">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
        <h1>Comment & thank</h1>
          <h3 > Add a photo in your new outfit</h3>
        </div>
      </div>
    </div>
  </div>

<div id="form">
<%= form_for [@recommendation, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <% for message in @comment.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="field medium-6 medium-centered columns">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
    </div>
    <div class="field medium-6 medium-centered columns">
  <%= f.label :style_image %>
  <%= f.file_field :style_image %>
    </div>
  </div>

  <div class="row">
  <div class="field medium-6 medium-centered columns">
  <%= f.submit :class => 'btn btn-primary button' %>
  </div>
  </div>
<% end %>

</div>