
  <div>
     <% if current_page?(action: "outbox")%>
     <p><%= link_to "Recommendation",recommendation_path(recommendation.id) %></p>
    <% else %>
  <!--   <a class="th" role="button" aria-label="Thumbnail" href="<%= recommendation.product_url %>">
      <img aria-hidden=true src="/products/output-#{@recommendation.id}.png"/>
    </a> -->
    
        <div class="medium-4 columns">
          <div class="item-wrapper">
            <div class="img-wrapper">
              <a href="<%= recommendation.product_url %>"><img src=("/products/output-#{@recommendation.id}.png")></a>
            <p><%= link_to "Recommendation",recommendation_path(recommendation.id) %></p>

            <%= link_to "Comment", new_recommendation_comment_path(recommendation) %>

           
          </div>  
        </div>
      </div>
    <% end %>
  </div>

  
