<h1>Recommendations#show</h1>
<!-- <p><%= image_tag ("/public/products/output.png") %></p> -->
<p> <%= image_tag "output.png" %> </p> 
<p>Message <%= @recommendation.message %> </p>
<p>From <%= @recommendation.sender_id %> </p>
<p>Rec number <%= @recommendation.id %> </p>
<a href="#">Respond</a>
<a href="#">Shop</a>
<a href="#">Save for later</a>
