<h1>Recommendations#show</h1>
 <%= image_tag image_path("/products/output-#{@recommendation.id}.png") %>  
<p>Message <%= @recommendation.message %> </p>
<p>From <%= @sender.username %> </p>
<% @recommendation.comments.each do |comment| %>
<p>From: <%= @sender.username %></p>
  <p><%= comment.comment %></p>
<% end %>

<h1><%=link_to "Shop", @recommendation.product_url, target: '_blank'%></h1>




<%= form_for [@recommendation, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <% for message in @comment.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <fieldset class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, class: "form-control" %>
  </fieldset>
  
  <%= f.submit class: "btn btn-primary" %>
<% end %>
  
   



