<div class="row spacer">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
      <h1>Recommendation</h1>
      <h3 id="rec-show">From <%= @sender.username %> </h3> 
      </div>
    </div>
  </div>
</div>

<div class="row spacer" id="shop-button">
  <div class="medium-6 medium-centered columns">
    <h5><%=link_to "Shop", @recommendation.product_url, target: '_blank'%></h5>
  </div>
</div>

<section id="screenshot">
  <div class="row spacer" >
    <div class="medium-12 columns"><hr> </div>
  </div>

  <div class="medium-6 medium-centered columns">
  <%= image_tag image_path("/products/output-#{@recommendation.id}.png") %> 
  </div>

  <div class="row spacer" >
    <div class="medium-12 columns"><hr> </div>
  </div>
</section>

<div class="medium-6 medium-centered columns">
  <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
  <p> <%= @recommendation.message %></p> 
</div>

<section class="benefits">
  <% @recommendation.comments.each do |comment| %>
  <div class="row">
    <div class="small-12 large-4 columns benefit">
      <i class="fa fa-envelope-o"></i>
      <div id="message">
        <div class="medium-6 medium-centered columns">
        <h5> From: <%= comment.user.username %> &#x270D; </h5>
        </div>
        <hr>
        <p><%= comment.comment %></p>
        <p id= "style-shot"><%= image_tag comment.style_image.url %></p>
      </div>
    </div>
  </div>
  <% end %>
</section>

   



