<h1>Recommendations#show</h1>
<!-- <p><%= image_tag ("/public/output.png") %></p> -->
 <%= image_tag image_path("/public/output.png") %>  
<p>Message <%= @recommendation.message %> </p>
<p>From <%= @recommendation.sender_id %> </p>
<p>Rec number <%= @recommendation.id %> </p>
<a href="#">Respond</a>
<a href="#">Shop</a>
<a href="#">Save for later</a>
