
<!-- this adds Foundation Icon Fonts!! -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    

    <div class="medium-4 columns">
      <div id="users">
        <div class="profile-card">
        <% if user.image? %>
        <img id="user_image" class="media-object" src=" <%= user.profile_image.url %>" alt="<%= user.username %>">
        <% else %>
        <img id="user_image" class="media-object" src="/images/default.jpg" alt="<%= user.username %>">
        <% end %>
          <div class="profile-info">
            <h2 class="username hidden"><%= user.username %></h2>           
            <%= user.profile_image.url %>
          </div>
        </div>
      </div>
    </div>

    