<container>
<div class="row">
  <div class= "medium-12 columns ">
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="row">
  <div class="large-3 columns">...</div>
  <div class="large-6 columns">CENTRE</div>
  <div class="large-3 columns">...</div>
</div>

<div class="row">
  <div class="medium-8 columns">Email: <%= @user.email %></div>
  <div class="medium-4 columns"><%= image_tag @user.profile_image.url %> </div>
  
</div>

<div class="row">
  <div class="medium-12 columns">Username: <%= @user.username %></div>
</div>


<div class="row">
  <div class="medium-4 columns"><h5><%= link_to "Edit Profile", edit_user_registration_path %></h5></div>
  <div class="medium-4 columns"><h4><%= link_to "Inbox", inbox_path %></h4></div>
  <div class="medium-4 columns"><h4><%= link_to "Outbox", outbox_path %></h4> </div>
  
</div>

</container>
