<div class="row spacer">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
      <h1>Your page</h1>
      <h3 id="user-panel"><%= @user.username %></h3> 
      </div>
    </div>
  </div>
</div>

<div class="profile">

  <div class="row spacer">
    <div class="medium-4 columns"><h5><%= link_to "Inbox", inbox_path %></h5></div>
    <div class="medium-4 columns"><h5><%= link_to "Edit Profile", edit_user_registration_path %></h5></div>
    <div class="medium-4 columns"><h5><%= link_to "Outbox", outbox_path %></h5> </div> 
 </div>

 <div class="row spacer" >
   <div class="medium-12 columns"><hr></div>
 </div>

  <div class="row spacer">
    <div class="medium-8 columns">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1> </br>
      Registered email: <%= @user.email %>
    </div>
    <% if @user.profile_image? %>
    <div class="medium-4 columns"><%= image_tag @user.profile_image.url %> alt="<%= @user.username %>"></div>
    <% else %>
    <div class="medium-4 columns">  <%= image_tag image_path("/images/default.jpg") %> </div>
    <% end %>
  </div>

  <div class="row spacer" >
    <div class="medium-12 columns"><hr></div>
  </div>

</div>





