<div class="row spacer">
  <div class="small-8 medium-6 large-5 small-centered columns">
    <div class="header panel">
      <div class="sign">
        <h1>Sign In</h1>
          <h3 id="edit">Welcome back</h3>
        </div>
      </div>
    </div>
  </div>

<div id="form">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row spacer" >
    <div class="medium-12 columns"><hr></div>
  </div>

  <div class="row">
    <div class="field medium-6 columns">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="field medium-6 columns">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="actions medium-12 columns">
      <h5><%= f.submit "Log in" %></h5>
    </div>
  </div>

  <% end %>
  <div class="row spacer" >
    <div class="medium-12 columns"><hr></div>
  </div>
</div>